@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
@import "react-alice-carousel/lib/alice-carousel.css";

body {
    font-family: Roboto, sans-serif !important;
}

.navbar {
  color: white !important;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 99;
  top: 0;
}

.navbar-light {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px 0 rgba(59, 59, 59, 0.75) !important;
}

.text-nav {
  color: #d6e0eb !important;
  font-family: Roboto, sans-serif;
  font-size: 12px !important;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.caraousel-top {
  /* position: absolute;
  top: 0; */
  margin-top: -80px;
}

.movie-main {
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 20px;
  width: 100%;
  height: 450px !important;
}

.movie-main::after {
  background-image: linear-gradient(
    0deg,
    #0f0f28 50px,
    rgba(31, 31, 31, 0.4) 50%
  );
  bottom: 0;
  content: "";
  height: inherit;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: inherit;
}

.movie-main-info {
  color: #d6e0eb !important;
  font-family: Roboto, sans-serif;
  position: relative;
  top: 35%;
  z-index: 99;
}

.movie-main-info h3 {
  font-weight: 700;
  font-size: 52px;
}

.movie-main-info p {
  font-size: 16px;
  width: 60%;
}

.movie-main-info button {
  background: #661fb8;
  border: none;
  border-radius: 2px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  color: #d7dee6;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  height: 40px;
  letter-spacing: 1.2px;
  transition: 0.5s ease-out;
  width: 110px;
}

.title-list {
  justify-content: space-between;
}

.title-list a{
  text-decoration: none;
  color: grey;
  font-size: 14px;
}

.media-item {
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  transition: all .5s ease;
}

.media-item:hover {
   transform: scale(1.1);
}

.media-item img{
  border-radius: 6px;
}

.media-item .title {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
}

.media-item .title h6{
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.vote-score {
  color: orange;
  background-color: #180e3d;
  border-top-right-radius: 6px;
  font-size: 12px;
  height: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  right: 0;
  width: 28px;
}

.footer {
  background: #16162e;
  width: 100%;
  display: flex;
  height: 60px;
  color: #abb7c4;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}
